@contentTextColor: #404040;
@leftBarTextColor: #f0f0f0;
@doubleColumnMaxWidth: 920px;
@leftBarBackgroundColor: #252F3D;

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #FEFEFE;
    font-size: 14px;
    width: 920px;
    display: table;

    @media (max-width: @doubleColumnMaxWidth) {
        width: 100%;
        &.mobile-menu-visible {
            background-color: @leftBarBackgroundColor;
        }
    }
}

.inline-author-photo {
    @inlineAuthorPhotoHeight: 1.6em;

    height: @inlineAuthorPhotoHeight;
    width: @inlineAuthorPhotoHeight;
    border-radius: @inlineAuthorPhotoHeight / 2;
    vertical-align: middle;
    margin-right: 4px;
}

.font-awesome-svg {
    width: 1em;
    height: 1em;
    display: inline-block;
}

#left-bar {
    box-sizing: border-box;
    display: table-cell;
    background-color: @leftBarBackgroundColor;
    color: @leftBarTextColor;
    width: 325px;
    padding: 10px 35px 35px 35px;

    @media (max-width: @doubleColumnMaxWidth) {
        display: block;
        width: 100%;
        padding: 0px 20px 0px 20px;

        &.mobile-visible {
            padding-bottom: 60px;
        }

        &:not(.mobile-visible) section {
            display: none;
        }
    }

    .logo {
        font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
        font-size: 28px;
        letter-spacing: 1px;
        line-height: 1em;
        margin-bottom: 6px;
        margin-left: -2px;
        margin-top: 0;
        text-align: left;
        text-transform: uppercase;

        &.mobile {
            font-size: 24px;
            display: none;

            @media (max-width: @doubleColumnMaxWidth) {
                display: block;

                a {
                    padding: 11px 20px 15px 20px;
                    margin: 0 -20px -15px -20px;
                    display: block;
                    text-decoration: none;
                    color: @leftBarTextColor;
                }

                svg {
                    opacity: 0.8;
                    margin-right: -2px;
                    margin-top: 1px;
                    height: 25px;
                }

                .text, svg {
                    vertical-align: middle;
                }
            }

        }

        @media (max-width: @doubleColumnMaxWidth) {
            display: none;
        }

        .engineering {
            color: #9cb53b;
        }
    }

    .subscription-info {
        text-align: left;

        .links {
            font-size: 24px;

            a {
                margin-right: 7px;
                text-decoration: none;
                color: @leftBarTextColor;
            }

            a:hover {
                border-bottom: 1px solid @leftBarTextColor;
            }

            .email {
                // The email icon hangs a little below the base line so we
                // nudge it up a little.
                margin-top: -1px;
            }
        }
    }

    .section-heading {
        font-size: 14px;
        font-weight: 400;
        opacity: 0.5;
        text-transform: lowercase;
        margin-top: 40px;
    }

    .post-blurb {
        margin-top: 30px;
        padding-bottom: 4px;
        border-left: 1px solid transparent;
        padding-left: 10px;
        margin-left: -10px;

        @media (max-width: @doubleColumnMaxWidth) {
            border-left: 10px solid transparent;
            padding-left: 17px;
            margin-left: -26px;
        }

        &:first-of-type {
            margin-top: 20px;
        }

        &.team-infrastructure {
            border-color: #E57281;
        }

        &.team-web-frontend {
            border-color: #63BBD9;
        }

        &.team-eng-leads {
            border-color: #ccc;
        }

        .title {
            font-weight: 400;
            margin: 0 0 9px 0;

            a {
                color: @leftBarTextColor;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .info {
            font-size: 12px;

            .author-link {
                color: @leftBarTextColor;
                text-decoration: none;
                font-weight: bold;
                font-size: 11px;
            }

            .author-link:hover {
                text-decoration: underline;
            }
        }
    }

    .meta-section {
        .link-list {
            margin: 0 0 0 4px;
            padding: 0;
            list-style-type: square;

            @media (max-width: @doubleColumnMaxWidth) {
                list-style-type: none;
            }

            li {
                margin-bottom: 10px;

                a {
                    margin-left: -4px;
                }
            }

            a {
                color: @leftBarTextColor;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

#content {
    display: table-cell;
    padding: 10px 35px 35px 50px;
    color: @contentTextColor;

    @media (max-width: @doubleColumnMaxWidth) {
        padding: 10px 20px 50px 20px;
        display: block;

        &.mobile-hidden {
            display: none;
        }
    }

    .title {
        letter-spacing: 1px;
        margin-bottom: 8px;
        font-size: 28px;
        line-height: 1;
    }

    .info {
        .author-link {
            color: @contentTextColor;
            font-weight: bold;
            text-decoration: none;
        }

        .author-link:hover {
            text-decoration: underline;
        }

        .team-tag {
            border-radius: 0.3em;
            padding: 0.3em 0.8em;
            font-size: 0.7em;
            font-weight: 500;
            display: inline-block;
            color: white;
            margin-left: 4px;
            margin-right: 4px;

            &.web-frontend {
                background-color: #63BBD9;
            }
        }
    }

    .body {
        margin-top: 30px;
        line-height: 1.5;
        width: 500px;

        @media (max-width: @doubleColumnMaxWidth) {
            width: 100%;
        }

        a {
            color: #778A2D;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

