#draft-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #EEA;
    padding: 1em;
}

#post-body {
    /* Center the post by setting the left and right margins to auto */
    margin: 0 auto;

    /* This makes the text a little nicer to read */
    line-height: 1.5;

    /* This ensures that the posts won't get too wide because generally
     * super wide paragraphs are considered a little harder to read.
     * Not a lot of good empirical evidence to support this though.*/
    max-width: 50em;
}

#top-header {
    margin-top: 2em;
    text-align: center;
    margin-bottom: 4em;
}

#post-title {
    font-size: 2em;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.08em;
    margin-bottom: 0.4em;
}

h2 {
    font-weight: normal;
    letter-spacing: 0.07em;
}

#post-body img {
    max-width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

table.footnote:first-of-type {
    margin-top: 2em;
}

table.footnote {
    font-size: .8em;
}

tt, pre {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

pre {
    padding-left: 1em;
}

.red-bold {
    color: red;
    font-weight: bold;
}

#end-bits {
    text-align: center;
    margin: 3em 0 1em 0;
    font-size: 1.25em;
}

#end-bits a {
    white-space: nowrap;
}

#comments {
    text-align: center;
    color: #AAA;
}
